@{
    ViewBag.Title = "Administracion";
}

<h2>Administracion</h2>

<div>
    <ul>
       <li>@Html.ActionLink("Tipos","Index","Tipos")</li>
       <li>@Html.ActionLink("Marcas","Index","Marcas")</li>
       <li>@Html.ActionLink("Modelos","Index","Modelos")</li>
       <li>@Html.ActionLink("Automovil","Index","Automovil")</li>
    </ul>
</div>


